.vehicleCell {
    margin: 5px;
    padding: 15px;
    width: 80%;
    height: 200px;
    display: inline-block;
    border: 1px solid #F5FFFA;
    border-radius: 3px;
    background-color: white;
    box-shadow: 1px 1px #888888;
    text-align: left;
    font-size: 18px;
}

p {
    margin: 0
}

h4 {
   margin: 0 
}

.vehicleCell:hover {
    border: 3px solid #ffdd1a;
}