@model IEnumerable<TowLots.Models.TowLot>
@using Newtonsoft.Json;

<div class="Container">
    <div>
        Number of records: @Model.Count()
        <br />
        Search:
        <form asp-controller="TowLot" asp-action="Index">
            <input type="text" placeholder="Search" name="searchQuery" />
            <button>Search</button>
        </form>
    </div>
    <div id="jsGrid_container">

    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script type="text/javascript">

        var json = '@Html.Raw(JsonConvert.SerializeObject(@Model))';
        var parsed = JSON.parse(json);

        var arr = [];

        for (var x in parsed) {
            arr.push(parsed[x]);
        }
        console.log(json);
        $(function () {

            $("#jsGrid_container").jsGrid({
                width: "100%",
                height: "500px",
                sorting: true,
                paging: true,

                data: arr, 

                fields: [
                    { name: "Lot", type: "number", width: 25 },
                    { name: "Vehicle_Id", type: "number", width: 150 },
                    { name: "Tow_Reference", type: "number", width: 90 },
                    { name: "Year", type: "number", width: 55 },
                    { name: "Make", type: "text", width: 75 },
                    { name: "Model", type: "text", width: 75 },
                    { name: "Vin", type: "text", width: 150 },
                    { name: "Mileage", type: "text", width: 100 },
                    { name: "Reason", type: "text", width: 75 },
                    { name: "Keys", type: "text", width: 55 },
                    { name: "Comments", type: "text", width: 150 }

                ]
            });
        });
    </script>
}
