.body-style {
 	background-color: #ebf6f9;

 }

 h1 {
 	text-align: center; 
 }

 h2 {
 	text-align: center; 
 	border-color: black;
 }

.col-sm-6, .col-sm-8  {
	background-color: #FFFAFA;
	border-style: groove;
	border-color: grey;
	padding: 25px;
	font-family: 'Roboto Slab', serif;
	font-size: 110%;
	font-weight: bold;
}

.left {
    border: 1px solid black;
}

.right {
   float:right; /* add this */ 
}