.Toolbar {
	height: 56px;
	width: 100%;
	background-color: #F5FFFA;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	z-index: 90;
}

.Login {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin: 0;
}

.Login:hover {
	background-color: white; 
    color: #008CBA;
    border: 1px solid gray;
}

header {
	font-size: 20px;
	font-weight: bold;
	color: black;
}
