.Toolbar {
	height: 56px;
	width: 100%;
	background-color: #edf2f7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	z-index: 90;
}

header {
	font-size: 20px;
	font-weight: bold;
	color: black;
}
