.ShowResults {
	background-color: white;
	border-style: solid;
	border-color: #737373;
	border-width: 0px 1px 1px 1px;
	margin: auto;
  width: 100%;
}

.Records {
	font-weight: bold;
}

.Error {
	color:red;
	font-weight: bold;
}
