table {
	margin: auto;
	padding: 20px;
	font-size: 18px;
}

select {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    font-size: 18px;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
		/*border: 1px solid #ccc; */
	}
	
	td { 
		border: none;
		position: relative;
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}